<h1>Pトップページ</h1>
<main>
  
  <div>
    ジャンル検索
  </div>
  
  <div>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </div>
    
  <h1>新着商品</h1>
    
  <div>
      
  </div>
  
  <div>
    <%= link_to "全ての商品を見る＞", items_path %>
  </div>
    

</main>

    　