<main>
    <div>
        <h3>注文履歴一覧</h3>
    </div>
    
    <div>
        <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th>購入日時</th>
                <th>購入者</th>
                <th>注文個数</th>
            </tr>
        </thead>
        
        <tobody>
            <% @orders.each do |order| %>
            <tr>
                <th>
                    <%= link_to admin_order_path(order.id) do %>
                    <%= order.created_at %>
                    <% end %>
                </th>
                <th><%= order.name %></th>
                <th><%#= order.amount %></th>
            </tr>
            <% end %>
        </tobody>
        </table>
        <div><%= paginate @orders %></div>
    </div>
</main>