<main>
    <div>
        <h3>注文履歴一覧</h3>
    </div>
    
    <div>
        <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th>購入日時</th>
                <th>購入者</th>
                <th>注文個数</th>
                <th>注文ステータス</th>
            </tr>
        </thead>
        
        <tobody>
            <% @customers.each do |customer| %>
            <tr>
                <th>
                    日付
                </th>
                <th><%= customer.last_name %><%= customer.first_name %></th>
                <th></th>
                <th><%= customer.is_deleted %></th>
            </tr>
            <% end %>
        </tobody>
        </table>
    </div>
</main>