<main>
    <div>
        <h3>注文情報入力</h3>
    </div>
    
    <div>
        <h3><strong>支払い方法</strong></h3>
        
        <div>
            
        </div>
    
        <h3><strong>お届け先</strong></h3>
        
        <div>
            
        </div>
        
    </div>
    
</main>