<main>
    <h3>商品一覧</h3>
    <div>
        <ul>

            <li>
                <%= @item.name %>
            </li>
            <li>
                <%= @item.price %>
            </li>
        </ul>
    </div>
</main>